 body {
  background-color: rgb(55, 98, 114);
  font-family: monospace;
  color: white;
  padding: 10vw;

 }
 canvas {
  cursor: crosshair;
  background-color: white;
  border: 5px solid rgb(83, 141, 162);

 }
 #h-div-0 {
  display:grid;
  grid-template-columns: 30vw 70vw;
 }
 #fft_title {
    grid-column: span 2;
 }
 #v-div-0 {
  display:grid;
  grid-template-rows: 3em 50vh 40vh 3em;
  grid-template-columns: 20vw 20vw;
 }
 .func-view {
    display:grid;
    grid-template-rows: 2em 256px;
 }
 #log {
    color: white;
    width: 50em;

 }
 